In [1]:
import pandas as pd
import os
os.listdir()

['Bluiding_10_Apps_in_15Days.md',
 'example.py',
 'FirstProgram_PuttingPiecesTogether.py',
 'my_first_jupyter_notebook.ipynb',
 '_example_file.txt',
 '_logs.txt',
 '_palabras.txt',
 '_sensores.json',
 '_usuarios.txt',
 '_ventas.txt']

Ejemplo de Datos de sensores con variables como: ID, Fecha, Ubicacion, Temperatura, Humedad, Presion, SensorActivo

In [2]:
path_sensores_JSON = "C:/Users/JOSHUASANCH3/Documents/_REPOSITORIES/PYTHON-GITHUB/PYTHON-LERNING/Curso de PYTHON para BLUIDING-APPS/Constuyendo 10 Aplicaciones en 10 dias/_sensores.json"
df_sensores = pd.read_json(path_sensores_JSON)
df_sensores

,ID,Fecha,Ubicacion,Temperatura,Humedad,Presion,SensorActivo
0,1,2025-04-04 08:00,Laboratorio,23.5,60,1012.3,True
1,2,2025-04-04 08:15,Oficina,22.8,58,1011.9,True
2,3,2025-04-04 08:30,Pasillo,24.0,62,1013.0,True
3,4,2025-04-04 08:45,Laboratorio,21.5,55,1012.0,False
4,5,2025-04-04 09:00,Oficina,25.3,65,1013.4,True

    Colocamos un index

In [3]:
df_sensores = df_sensores.set_index("ID") # Setear el index a la columna ID

    Utilizamos el ID como referencia y aplicamos el rango con las columnas

In [4]:
df_sensores.loc["1":"3", "Fecha":"SensorActivo"] # Slicing es una forma de seleccionar filas y columnas en un DataFrame.

               Fecha    Ubicacion  Temperatura  Humedad  Presion  SensorActivo
ID
1   2025-04-04 08:00  Laboratorio         23.5       60   1012.3          True
2   2025-04-04 08:15      Oficina         22.8       58   1011.9          True
3   2025-04-04 08:30      Pasillo         24.0       62   1013.0          True

    Realizamos una busqueda de una columna mediante una lista

In [5]:
list(df_sensores.loc[:,"Ubicacion"]) # listando la columna "Ubicacion"

['Laboratorio', 'Oficina', 'Pasillo', 'Laboratorio', 'Oficina']

    LLamamos de nuevo la tabla de datos

In [6]:
df_sensores # mostrando el DataFrame

               Fecha    Ubicacion  Temperatura  Humedad  Presion  SensorActivo
ID
1   2025-04-04 08:00  Laboratorio         23.5       60   1012.3          True
2   2025-04-04 08:15      Oficina         22.8       58   1011.9          True
3   2025-04-04 08:30      Pasillo         24.0       62   1013.0          True
4   2025-04-04 08:45  Laboratorio         21.5       55   1012.0         False
5   2025-04-04 09:00      Oficina         25.3       65   1013.4          True

    Colocamos un rango de en especifico

In [7]:
df_sensores.iloc[0, 0:4] # [filas, columnas]

Fecha          2025-04-04 08:00
Ubicacion           Laboratorio
Temperatura                23.5
Humedad                      60
Name: 1, dtype: object

    Buscamos el valor exacto de la tabla

In [8]:
df_sensores.iloc[1,1] # Accediendo a la fila 1 y columna 1

'Oficina'

    Eliminamos una fila con la propiedad Index de Drop

In [9]:
df_sensores = df_sensores.drop(index=1)  # Eliminando la fila 1 con el index
df_sensores

               Fecha    Ubicacion  Temperatura  Humedad  Presion  SensorActivo
ID
2   2025-04-04 08:15      Oficina         22.8       58   1011.9          True
3   2025-04-04 08:30      Pasillo         24.0       62   1013.0          True
4   2025-04-04 08:45  Laboratorio         21.5       55   1012.0         False
5   2025-04-04 09:00      Oficina         25.3       65   1013.4          True

    Eliminaremos un rango de la table

In [10]:
df_sensores.drop(df_sensores.columns[0:3], axis=1) # Eliminando la fila con índice 2 y actualizando el DataFrame
#df_sensores.columns # Mostrando las columnas del DataFrame

    Humedad  Presion  SensorActivo
ID
2        58   1011.9          True
3        62   1013.0          True
4        55   1012.0         False
5        65   1013.4          True

In [11]:
df_sensores # Mostrando el DataFrame

               Fecha    Ubicacion  Temperatura  Humedad  Presion  SensorActivo
ID
2   2025-04-04 08:15      Oficina         22.8       58   1011.9          True
3   2025-04-04 08:30      Pasillo         24.0       62   1013.0          True
4   2025-04-04 08:45  Laboratorio         21.5       55   1012.0         False
5   2025-04-04 09:00      Oficina         25.3       65   1013.4          True

In [12]:
len(df_sensores.index) # Mostrando la cantidad de filas del DataFrame

4

    Cambiar datos de toda la columna

In [13]:
df_sensores["SensorActivo"] = df_sensores.shape[0]*[False] # Cambiando el valor de toda la columna "SensorActivo" a False
df_sensores # Mostrando el DataFrame

               Fecha    Ubicacion  Temperatura  Humedad  Presion  SensorActivo
ID
2   2025-04-04 08:15      Oficina         22.8       58   1011.9         False
3   2025-04-04 08:30      Pasillo         24.0       62   1013.0         False
4   2025-04-04 08:45  Laboratorio         21.5       55   1012.0         False
5   2025-04-04 09:00      Oficina         25.3       65   1013.4         False

In [14]:
df_sensores["SensorActivo"] = df_sensores["Ubicacion"] + ", " + "False"
df_sensores # Mostrando el DataFrame

,Fecha,Ubicacion,Temperatura,Humedad,Presion,SensorActivo
ID,,,,,,
2,2025-04-04 08:15,Oficina,22.8,58,1011.9,"Oficina, False"
3,2025-04-04 08:30,Pasillo,24.0,62,1013.0,"Pasillo, False"
4,2025-04-04 08:45,Laboratorio,21.5,55,1012.0,"Laboratorio, False"
5,2025-04-04 09:00,Oficina,25.3,65,1013.4,"Oficina, False"

In [15]:
df_s_t = df_sensores.T
df_s_t

ID,2,3,4,5
Fecha,2025-04-04 08:15,2025-04-04 08:30,2025-04-04 08:45,2025-04-04 09:00
Ubicacion,Oficina,Pasillo,Laboratorio,Oficina
Temperatura,22.8,24.0,21.5,25.3
Humedad,58,62,55,65
Presion,1011.9,1013.0,1012.0,1013.4
SensorActivo,"Oficina, False","Pasillo, False","Laboratorio, False","Oficina, False"

In [16]:
df_s_t["6"] = ["2025-04-04 09:00", "Oficina", 32.9, 60, 1250, True]
df_s_t

ID,2,3,4,5,6
Fecha,2025-04-04 08:15,2025-04-04 08:30,2025-04-04 08:45,2025-04-04 09:00,2025-04-04 09:00
Ubicacion,Oficina,Pasillo,Laboratorio,Oficina,Oficina
Temperatura,22.8,24.0,21.5,25.3,32.9
Humedad,58,62,55,65,60
Presion,1011.9,1013.0,1012.0,1013.4,1250
SensorActivo,"Oficina, False","Pasillo, False","Laboratorio, False","Oficina, False",True

In [17]:
df_s_t = df_s_t.T
df_s_t

,Fecha,Ubicacion,Temperatura,Humedad,Presion,SensorActivo
ID,,,,,,
2,2025-04-04 08:15,Oficina,22.8,58,1011.9,"Oficina, False"
3,2025-04-04 08:30,Pasillo,24.0,62,1013.0,"Pasillo, False"
4,2025-04-04 08:45,Laboratorio,21.5,55,1012.0,"Laboratorio, False"
5,2025-04-04 09:00,Oficina,25.3,65,1013.4,"Oficina, False"
6,2025-04-04 09:00,Oficina,32.9,60,1250,True